.musicplayer {
    position: absolute;
    bottom: 0px;
    z-index: 100;
    background-color: black;
    width: calc(100% - 20px);
    padding: 5px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.music_player_details {
    display: flex;
    align-items: center;
}

.music_player_image_container {
    width: 90px;
    height: 70px;
    margin-right: 10px;
}

.music_player_image_container>img {
    width: 100% !important;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.rightControls_container {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0px;
    margin: 0px 10px;
}