.my_login_button_active {
    width: 21.5vw !important;
    background-color: #1ed760 !important;
    color: #222 !important;
    font-weight: 800 !important;
    font-size: 18px !important;
    text-transform: inherit !important;
    border-radius: 22px !important;
    font-family: "Lora", serif !important;
}

.my_login_button_disabled {
    width: 21.5vw !important;
    background-color: grey !important;
    color: #222 !important;
    font-weight: 800 !important;
    font-size: 18px !important;
    text-transform: inherit !important;
    border-radius: 22px !important;
    font-family: "Lora", serif !important;
}

@media (width < 768px) {
    .my_login_button_disabled {
        width: 108% !important;
    }

    .my_login_button_active {
        width: 108% !important;
    }
}