h4 {
    margin: 0px;
}

.card {
    min-width: 14vw;
    width: 14vw;
    height: 42vh;
    border-radius: 12px;
    position: relative;
}

.hovered-background-card {
    background-color: rgba(73, 73, 73, 0.11);
    width: 15.5vw;
    height: 44vh;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    left: -11px;
    z-index: 0;
    display: none;
}

.card:hover .hovered-background-card {
    cursor: pointer;
    display: block;
}

.mycard-play-icon {
    position: absolute;
    bottom: 28%;
    right: 0%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    margin: 0px 5px;
    color: #1db954;
}

.card:hover .mycard-play-icon {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.mycard-play-icon:hover {
    transform: scale(1.02) !important;
    color: #4bee74 !important;
    cursor: pointer;
}