.myinput {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;

}

.myinput label {
    margin-bottom: 10px;
}

.myinput_without_label {
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 12px;
}

.myinput input {
    outline: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    width: 90%;
    height: 30px;
    font-size: 16px;
}

.myinput_without_label:hover {
    border: 1px solid #fff;
}

.myinput_without_label:focus-within {
    border: 1px solid #fff;
}

@media (width < 768px) {
    .myinput {
        width: 100%;
    }

    .myinput input {
        width: 100%;

    }
}